

.App {
  text-align: center;
}

/*Cabecera*/
.header
{
  background: #fff;
  padding: 20px 0;
  position: relative;
  width: 100.9vw;
  margin-left: 48%;
  left: -50vw;
}

#logo-coppel {
  background-repeat: no-repeat;
  width: 160px;
  height: 200px;
}

.banner {
  background-color: #006FB9 !important;
  height: 1140px;
  color: #fff;
  height: 400px;
}

.mycard {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border-top: 6px solid #FDDD2E;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.card-title {
  color: #005491 !important;
  font-size: 18px;
  font-weight: bold;
}

.card-list {
  padding-left: 0;
}

.card-list ul {
    counter-increment: li;
    margin-bottom: 22px;
    font-size: 16px;
    color: #111111 !important;
    line-height: 24px !important;
}

.container1{
  width: '33%'
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
